<div>
  <%= @tweet.content %>
</div>

<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>

<button type="button" name="edit"><a href="/tweets/<%= @tweet.id %>/edit"> Edit </a></button>
