<h1>Welcome, <%= current_user.username %></h1>

<% @tweets.each do |tweet| %>
  <div>
    <%= tweet.content %>
  </div>
<% end %>

<button type="submit" name="submit"><a href="/logout">Log Out</a></button>
